[package]
name = "pi"
version = "0.1.0"
authors = ["Sergio Benitez <sb@sergio.bz>"]

[dependencies]
volatile = { path = "../volatile" }
stack-vec = { path = "../../1-shell/stack-vec/" }

[features]
std = []
